<template>
    <v-text-field
            v-model="innerValue"
            :error-messages="innerValueErrors"
            :loading="$v.innerValue.$pending"
            v-bind="$attrs"
            @input="$v.innerValue.$touch()"
            @blur="$v.innerValue.$touch()"
    ></v-text-field>
</template>

<script>
    export default {
        name: "FTextField",
        props: {
            appendOuterIcon: String,
            autofocus: Boolean,
            clearable: Boolean,
            clearIcon: {
              type: String,
              default: '$clear',
            },
            counter: [Boolean, Number, String],
            counterValue: Function,
            filled: Boolean,
            flat: Boolean,
            fullWidth: Boolean,
            label: String,
            outlined: Boolean,
            placeholder: String,
            prefix: String,
            prependInnerIcon: String,
            reverse: Boolean,
            rounded: Boolean,
            shaped: Boolean,
            singleLine: Boolean,
            solo: Boolean,
            soloInverted: Boolean,
            suffix: String,
            type: {
              type: String,
              default: 'text',
            },
            // must be included in props
            value: {
                type: null
            },
            validates:{
                type: Array,

            }
        },
        validations() {

            const validation={
                innerValue:{ }
            }
            this.validates.forEach(validete=>{
                validation.innerValue[validete.name]=validete.rule
            })

            return validation
        },
        data: () => ({
            innerValue: "",
            loading:false
        }),
        computed:{
            innerValueErrors () {
                const errors = [];
                if (!this.$v.innerValue.$dirty)
                    return errors;
                if(!this.$v.innerValue.$pending ){
                    this.validates.forEach(validete=>{
                        !this.$v.innerValue[validete.name]&& errors.push(validete.errorMessage);
                    })
                }
                return errors
            },
        },
        watch: {
            // Handles internal model changes.
            innerValue(newVal) {
                this.$emit("input", newVal);
            },
            // Handles external model changes.
            value(newVal) {
                this.innerValue = newVal;
            }

        }
    }
</script>

<style scoped>

</style>
