<template>
<v-navigation-drawer
        v-model="drawer"
        :mini-variant="miniVariant"
        :clipped="clipped"
        fixed

        app
        :color="color"
        dark

>
    <v-list>
        <v-list-item class="px-2">
            <v-list-item-title>
                <v-badge
                        class="ma-0"
                        bottom
                        color="success accent-4"
                        dot
                        offset-x="10"
                        offset-y="10"
                >
                    <user-avatar :user="currentUser" :size="40"></user-avatar>
                </v-badge>
                {{currentUser.firstName+" "+currentUser.lastName}}</v-list-item-title>
            <v-btn
                    icon
                    @click.stop="miniVariant = !miniVariant"
            >
                <v-icon>mdi-chevron-left</v-icon>
            </v-btn>
        </v-list-item>
        <v-list-item link>
            <v-list-item-content v-if="!miniVariant">
                <v-list-item-title class="title">Bienvenido</v-list-item-title>
                <v-list-item-subtitle>{{"@"+currentUser.username}}</v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>
    </v-list>


    <v-divider></v-divider>

    <v-list dense>
        <v-list-item

                v-for="item in activeRoutes"
                :key="item.title"
                :to="item.to"
                link
        >
            <v-list-item-icon>
                <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
                <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
        </v-list-item>

    </v-list>
    <template  v-slot:append>
        <v-list-item @click="logout" color="primary">
            <v-list-item-icon  class="v-btn">
                <v-icon>mdi-power</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
                <v-list-item-title>Cerrar Sesión</v-list-item-title>
            </v-list-item-content>
        </v-list-item>
    </template>
</v-navigation-drawer>
</template>
<script>
    import {auth} from "../../store/modules/auth";
    import {mapState} from "vuex";
    import UserAvatar from "@/components/user/UserAvatar";

    export default {
        name: 'TheDrawerLeft',
        components: {UserAvatar},
        computed:{
            ...mapState("auth",{
                currentUser:"currentUser", user:'user'
            }),

            clipped:{
                get(){
                    return this.$store.state.layout.clipped;
                },
                set(value){
                    this.$store.commit("layout/updateClipped",value)
                }
            },miniVariant:{
                get(){
                    return this.$store.state.layout.miniVariant;
                },
                set(value){
                    this.$store.commit("layout/updateMiniVariant",value)
                }
            },
            left:{
                get(){
                    return this.$store.state.layout.left;
                },
                set(value){
                    this.$store.commit("layout/updateLeft",value)
                }
            },
            drawer:{
                get(){
                    return this.$store.state.layout.drawer
                },
                set(value){
                    console.log(value)
                    this.$store.commit("layout/updateDrawer",value)
                }
            },
            bg () {
                return this.background ? 'https://cdn.vuetifyjs.com/images/backgrounds/bg-2.jpg' : undefined
            },
            activeRoutes(){
                return this.routes.filter(route=>(!route.isAdmin||(route.isAdmin&&this.user.power==="ROLE_ADMIN,")))
            }
        },
        data () {
            return {
                routes: [
                    { title: 'Inicio', to:'/' ,icon: 'mdi-home-city', isAdmin:false },
                    { title: 'Mi cuenta', to:'account', icon: 'mdi-account', isAdmin:false },
                    { title: 'Admin', to:'admin', icon: 'mdi-gavel', isAdmin: true},
                ],
                color: 'secondary',
                colors: [
                    'primary',
                    'blue',
                    'success',
                    'red',
                    'teal',
                ],
                right: true,
                expandOnHover: false,
                background: true,
            }
        },
        methods:{
            async logout() {

                try {
                    await this.$store.dispatch("auth/logout");

                    this.$router.replace('/login');
                } catch (e) {
                    console.log(e)
                }

            },
        }
    }
</script>
