<template>
    <v-progress-linear
            v-if="(item.timeOut > 0 && item.showProgress)"
            :value=" (time/item.timeOut) *100"
            color="white"
    ></v-progress-linear>
</template>
<script>
    export default {
        name: 'NewComponent',
        props: {
            getCurrentProgress: {},
            item: {}
        },
        mounted(){


            this.interval=setInterval(
                ()=>{
                    this.time+=100 },74)
        },
        data:()=>({
            time:100,
            interval:null
        }),
        beforeDestroy() {
            clearInterval(this.interval)
        }
    }
</script>
