<template>
    <user-account>

    </user-account>
</template>

<script>
    import UserAccount from "../components/user/account/UserAccount";
    export default {
        name: "Account",
        components: {UserAccount}
    }
</script>

<style scoped>

</style>
