<template>
    <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
            <v-col  sm="12" xl="4" lg="4" md="4">
                <UpdatePasswordWindow :token="token"/>
            </v-col>
        </v-row>

    </v-container>
</template>

<script>
    import UpdatePasswordForm from "../components/resetPassword/UpdatePasswordForm";
    import UpdatePasswordWindow from "../components/resetPassword/UpdatePasswordWindow";

    export default {
        name: "updatePassword",
        components: {UpdatePasswordWindow, UpdatePasswordForm},
        props:{
            token:{}
        }
    }
</script>

