<template>
    <v-form @submit.prevent="submitForm">
        <v-overlay   :absolute="true" :value="isLoading"/>

        <v-text-field

                v-model="$v.password.$model"
                prepend-icon="mdi-lock"
                placeholder="Ingresa tu contraseña"
                :error-messages="passwordErrors"
                :append-icon="showPassword?'mdi-eye': 'mdi-eye-off'"
                :type="showPassword ? 'text' : 'password'"
                @click:append="showPassword = !showPassword">

        </v-text-field>
        <v-text-field v-model="$v.verifyPassword.$model"
                      prepend-icon="mdi-lock"
                      placeholder="Vuelve a ingresar la contraseña"
                      :error-messages="verifyPasswordErrors"
                      :append-icon="showVerifyPassword?'mdi-eye': 'mdi-eye-off'"
                      :type="showVerifyPassword ? 'text' : 'password'"
                      @click:append="showVerifyPassword = !showVerifyPassword">

        </v-text-field>
        <v-btn type="submit" :disabled="isLoading" color="success" block>
            Actualizar contraseña
        </v-btn>
    </v-form>
</template>
<script>
    import {mapActions} from "vuex";
    import {minLength, sameAs, required} from "vuelidate/lib/validators";

    export default {
        name: 'UpdatePasswordForm',
        props:{
            token:{}
        },
        data:()=>({
           password:'',
            verifyPassword:'',
            showVerifyPassword:false,
            showPassword:false,
            isLoading:false,
        }),
        validations: {
            password:{required,  minLength: minLength(6)},
            verifyPassword:{ sameAsPassword: sameAs('password')},


        },
        computed:{
            passwordErrors () {
                const errors = [];
                if (!this.$v.password.$dirty)
                    return errors;
                !this.$v.password.required && errors.push('Rellene este campo');
                !this.$v.password.minLength && errors.push('Debe contener 6 caracteres como minimo');
                return errors
            },
            verifyPasswordErrors () {
                const errors = [];
                if (!this.$v.verifyPassword.$dirty)
                    return errors;
                !this.$v.verifyPassword.sameAsPassword && errors.push('La contraseña no coincide');
                return errors
            },
        },
        methods:{
            ...mapActions('auth',{
                updatePassword:"updatePassword"
            }),
            async submitForm() {
                this.$v.$touch();
                if (this.$v.$invalid)
                    return;
                try {
                    this.isLoading=true;

                    let data = await this.updatePassword(  {token: this.token,password:this.password})

                    this.$emit("success")
                } catch (e) {
                    const data = await e.json();
                    this.$toast.error(data.message, {
                        title: "Error",
                        outlined: true
                    });
                }finally {
                    this.isLoading=false
                }
            }
        }
    }
</script>
