<template>
    <v-col :cols="cols" :md="md">
      <slot></slot>
    </v-col>
</template>
<script>

    export default {
        name: 'windows-view-item',
        props:{
            cols:{
                default:12
            },
            md:{
                default: 8
            }
        }
    }
</script>
