<template>
    <v-dialog v-model="innerDialog" max-width="500px">
        <template v-slot:activator="{ on }">
            <v-btn color="primary" dark class="mb-2" v-on="on">Nueva Votacion</v-btn>
        </template>
        <v-card>
            <v-card-title>
                <span class="headline">{{ formTitle }}</span>
                <v-spacer></v-spacer>
                <v-btn icon @click="innerDialog=false"><v-icon>mdi-close</v-icon></v-btn>
            </v-card-title>

            <v-card-text>
                <v-divider></v-divider>
            </v-card-text>
            <v-card-text>
                <v-autocomplete
                        v-model="asamblea.id"
                        :items="asambleasActivas"
                        dense
                        outlined
                        item-value="id"
                        item-text="titulo"
                        label="Elige una Asamblea"
                ></v-autocomplete>
                <v-textarea
                        height="60"
                        outlined
                        dense
                        v-model="question.text" label="Ingresa tu pregunta"></v-textarea>
                <template v-for="(option,index) in choices">
                    <v-text-field
                            clas
                            outlined
                            dense
                            single-line
                            v-model="choices[index].text"
                            :placeholder="'Ingresa la opción '+(index+1)">
                        <template v-if="index>1" slot="append-outer">
                            <v-btn icon @click="removeChoice(index)"><v-icon color="red">mdi-delete</v-icon></v-btn>
                        </template>
                    </v-text-field>

                </template>
                <v-row>
                    <v-col cols="6">
                        <v-text-field
                                clas
                                outlined
                                dense
                                disabled
                        >
                        </v-text-field>
                    </v-col>
                    <v-col cols="6">
                        <v-btn color="info" text outlined @click="addChoice"><v-icon> mdi-plus</v-icon>Añadir opción</v-btn>
                    </v-col>
                    <v-col cols="4">
                        <v-select dense
                                  outlined
                                  label="Dias"
                                  placeholder="Dias"
                                  :items="Array.from(Array(8).keys()).map(i =>i)"
                                  v-model="pollLength.days">
                        </v-select>
                    </v-col>
                    <v-col cols="4">
                        <v-select dense
                                  outlined
                                  label="Horas"
                                  placeholder="Horas"
                                  :items="Array.from(Array(24).keys()).map(i =>i)"
                                  v-model="pollLength.hours">
                        </v-select>
                    </v-col>
                    <v-col cols="4">
                        <v-select dense
                                  outlined
                                  label="Minutos"
                                  placeholder="Minutos"
                                  :items="Array.from(Array(60).keys()).map(i =>i)"
                                  v-model="pollLength.minutes">
                        </v-select>

                    </v-col>
                    <v-col cols="12">
                        <v-divider/>
                        <v-btn block color="info" light   @click="savePoll">Crear Votacion</v-btn>
                    </v-col>
                </v-row>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>
<script>
    import {mapActions, mapState} from "vuex";

    export default {
        name: 'CreatePoll',
        props: {
            close: {},
            dialog: {},
            editedItem: {},
            formTitle: {
                default:'Crear Votación'
            },
            save: {}
        },
        computed:{
          asambleasActivas(){
              return this.asambleas.filter(asamblea=>asamblea.endedAt==null)
          } ,
            ...mapState("asambleas",{asambleas:"asambleas"})
        },
        data:()=>({
            description:'',
            title:'',
            innerDialog:'',
            asamblea:{
                id:''
            },
            question: {
                text: ''
            },
            choices: [{
                text: ''
            }, {
                text: ''
            }],
            pollLength: {
                days: 0,
                hours: 0,
                minutes: 5,
            }
        }),
        methods:{
            addChoice(event) {
                const choices = this.choices.slice();
                this.choices = choices.concat([{
                        text: ''
                    }])
            },
            removeChoice(choiceNumber) {
                const choices = this.choices.slice();
                this.choices= [...choices.slice(0, choiceNumber), ...choices.slice(choiceNumber+1)]
            },
            updateProp(propName,value){
                this.$emit('update:'+propName, value)
            },
            ...mapActions("polls",{
                newPoll:"newPoll"
            }),
            async savePoll() {
                const pollData = {
                    asambleaId: this.asamblea.id,
                    question: this.question.text,
                    choices: this.choices.map(choice => {
                        return {text: choice.text}
                    }),
                    pollLength: this.pollLength
                };
                try{

                await this.newPoll(pollData)}
                catch (e) {
                    this.$toast.error(e.message,{
                        title:e.error,
                        outlined:true
                    });
                    this.innerDialog = false;
                }
                this.innerDialog = false;
            }
        },
        watch:{
            editedItem:{
                immediate: true,
                handler (val, oldVal){
                    this.description=this.editedItem.descripcion
                    this.title=this.editedItem.titulo
                }

            },
            innerDialog(value){
                this.updateProp('dialog',value)
            },
            dialog(value){
                if(this.innerDialog!==value)
                    this.innerDialog=value
            }
        }
    }
</script>

