<template>
    <v-chip
            color="primary"
            text-color="white"
    >
        {{asamblea.titulo}}
    </v-chip>
</template>
<script>
    import {formatDateTime} from "../../util/Helpers";

    export default {
        name: 'TagAsamblea',
        props:{
            asamblea:{}
        },
        methods:{
            formatDateTime
        }
    }
</script>
