<template>
    <span class="subheading">  <v-icon class="mr-1">mdi-clock-outline</v-icon>{{ timeRemaining}}</span>
</template>
<script>
    import {mapActions} from "vuex";

    export default {
        name: 'TimeRemaining',
        props: {
            poll: {}
        },
        created() {
            let these  = this;
            this.intervalRemaining= setInterval( async()=>{
                these.timeRemaining= await these.getTimeRemaining(these.poll,these)},this.timeUpdating)
        },
        beforeDestroy() {
            clearInterval(this.intervalRemaining)
        },
        computed:{

        },
        data:()=>({
            selectedChoice:null,
            timeRemaining:'',
            timeUpdating:1000
        }),
        methods:{
            ...mapActions("polls",{
            pullPolls:"pullPolls"
            }),
            async getTimeRemaining  (poll, these = this)  {

                const expirationTime = new Date(poll.expirationDateTime).getTime();
                const currentTime = new Date().getTime();

                const difference_ms = expirationTime - currentTime;
                const seconds = Math.floor((difference_ms / 1000) % 60);
                const minutes = Math.floor((difference_ms / 1000 / 60) % 60);
                const hours = Math.floor((difference_ms / (1000 * 60 * 60)) % 24);
                const days = Math.floor(difference_ms / (1000 * 60 * 60 * 24));

                let timeRemaining;
                console.log(these.timeUpdating, these.intervalRemaining)
                if (days > 0) {
                    clearInterval(these.intervalRemaining)
                    these.timeUpdating = 1000 * 60 * 60 * 24
                    if (days === 1)
                        timeRemaining = "Queda " + days + " día";
                    else
                        timeRemaining = "Quedan " + days + " días";
                } else if (hours > 0) {
                    clearInterval(these.intervalRemaining)
                    these.timeUpdating = 1000 * 60 * 60
                    if (hours === 1)
                        timeRemaining = "Queda " + hours + " hora";
                    else
                        timeRemaining = "Quedan " + hours + " horas";
                } else if (minutes > 0) {
                    these.timeUpdating = 1000 * 60
                    if (minutes === 1)
                        timeRemaining = "Queda " + hours + " minuto";
                    else
                        timeRemaining = "Quedan " + minutes + " minutos";
                } else if (seconds > 0) {
                    these.timeUpdating = 1000
                    if (seconds === 1) {
                        timeRemaining = "Queda " + seconds + " segundo";
                    } else {
                        timeRemaining = "Quedan " + seconds + " segundos";
                    }
                } else {
                    timeRemaining = "queda menos de un segundo";
                    console.log(these.intervalRemaining)
                    await these.pullPolls()
                    clearInterval(these.intervalRemaining)
                }

                return timeRemaining;
            },

        }
    }
</script>
