<template>
    <v-card
            elevation="2"
            outlined
            class="mx-auto ma-8 pa-2"
            max-width="600"
    >
        <v-card-title>
            <PollCreator
                    :creationDateTime="poll.creationDateTime"
                    :creator="poll.createdBy">
                <v-btn icon text  ><v-icon color="success">mdi-av-timer</v-icon></v-btn>
                <v-btn icon text  ><v-icon color="red">mdi-delete</v-icon></v-btn>
            </PollCreator>

        </v-card-title>
        <v-container>
           <div class=" text--primary font-weight-regular title"> {{poll.question}}</div>
            <v-list class="pa-0">
                <template v-if="(poll.expired||poll.selectedChoice)">
                    <VoteResult  v-for="choice in poll.choices"
                                 :key="choice.id"
                                 :isWinner="poll.expired&&getWinningChoice.id==choice.id"
                                 :totalVotes="poll.totalVotes"
                                 :choice="choice"/>
                </template>
                <template v-else >
                    <v-radio-group color="info" v-model="selectedChoice">
                    <v-radio
                            v-for="choice in poll.choices"
                            color="info"
                            :key="choice.id"
                            :value="choice.id"
                    >
                        <template slot="label">
                            {{choice.text}}
                        </template>
                    </v-radio>
                    </v-radio-group>
                </template>
            </v-list>
        </v-container>
        <v-card-actions>
            <template
                   v-if="!( poll.expired||poll.selectedChoice)"
            >
                <v-btn :disabled="!selectedChoice"  @click="handleVoteSubmit" rounded color="info">Votar</v-btn>
            </template>
            <TagAsamblea v-else :asamblea="poll.asamblea"/>
            <v-spacer></v-spacer>
            <v-icon class="mr-1">mdi-vote</v-icon>
            <span class="subheading mr-2">{{poll.totalVotes}}</span>
            <span class="mr-1">·</span>
            <template v-if="poll.expired">
                <span class="subheading">Resultados Finales</span>
            </template>
            <template v-else>


                <TimeRemaining :poll="poll"/>
            </template>

        </v-card-actions>


    </v-card>
</template>

<script>
    import VoteResult from "./VoteResult";
    import PollCreator from "./PollCreator";
    import {mapActions, mapState} from "vuex";
    import TimeRemaining from "./TimeRemaining";
    import TagAsamblea from "./TagAsamblea";

    export default {
        name: "Votacion",
        components: {TagAsamblea, TimeRemaining, PollCreator, VoteResult},
        props:{
            poll:{
            }
        },
        created() {
        },
        computed:{
          ...mapState(
              "auth",
              {
                  isAuthenticated:"isAuthenticated"
              }
          ),
            getWinningChoice() {
                return this.poll.choices.reduce((prevChoice, currentChoice) =>
                        currentChoice.voteCount > prevChoice.voteCount ? currentChoice : prevChoice,
                    {voteCount: -Infinity}
                );
            }
        },
        data:()=>({
            selectedChoice:null,

        }),
        methods:{
            ...mapActions("polls",{
                castVote:"castVote",pullPolls:"pullPolls"
            }),
            handleVoteSubmit(event) {
                event.preventDefault();
                if(!this.isAuthenticated) {
                    return;
                }
                const selectedChoice = this.selectedChoice;

                const voteData = {
                    pollId: this.poll.id,
                    choiceId: selectedChoice
                };
                this.castVote(voteData)


            },

        }
    }
</script>

<style >
    .v-progress-linear__content {
        display: flex;
        height: 100%;
        left: 0;
        justify-content: start;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;

    }
</style>
