<template>
    <v-dialog v-model="innerDialog" max-width="500px">

        <v-card>
            <v-card-title>
                <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
                <span>Buen día miembro del CCAT, </span>
                <span>para votar en las asambleas se necesita de la siguiente información:</span>
                <v-form ref="form">
                    <v-row>
                        <v-col cols="12" >
                            <v-text-field
                                    id="dni"
                                    prepend-icon="mdi-card"
                                    v-model="documentoIdentidad"
                                    :rules="[rules.required,rules.dniCounter,rules.onlyNumbers]"
                                    label="DNI"
                            ></v-text-field>
                            <v-text-field
                                    id="dni"
                                    prepend-icon="mdi-card"
                                    v-model="codigoUniversitario"
                                    :rules="[rules.required]"
                                    label="Código universitario"
                            ></v-text-field>

                            <!--Facultad-->
                            <v-select
                                    prepend-icon="mdi-school"
                                    item-color="ccat2"
                                    :items="facultades"
                                    item-value="id"
                                    v-model="facultad"
                                    @change="(value)=>getEspecialidades(value)"
                                    item-text="nombre"
                                    label="Facultad"
                                    dense
                            >
                            </v-select>
                            <!--Especialidad-->
                            <v-select
                                    prepend-icon="mdi-school"
                                    item-color="ccat2"
                                    :items="especialidades"
                                    item-value="id"
                                    v-model="especialidad"
                                    item-text="nombre"
                                    label="Especialidad"
                                    dense
                            >
                            </v-select>
                            <v-checkbox
                                    id="dni"
                                    v-model="egresado"
                                    label="¿Es egresado?"
                            ></v-checkbox>
                        </v-col>

                    </v-row>
                </v-form>
                <span>Esta información será necesaria para realizar el acta</span>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="save">Guardar</v-btn>
                <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import {mapActions, mapState} from "vuex";

    export default {
        name: "Requeriments",
        props: {
            dialog: {
                default:true
            },
            formTitle: {
                default:'Requisitos para votar'
            },
        },
        computed:{
          ...mapState("university",{
              facultades:"facultades",especialidades:"especialidades"
          })
        },
        data:()=>({
            rules: {
                required: value => !!value || 'Es necesario.',
                counter: value => value.length <= 20 || 'Máximo 20 caracteres',
                email: value => {
                    const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                    return pattern.test(value) || 'E-mail inválido.'
                },
                dniCounter: value => value.length == 8 || 'Debe tener 8 numeros',
                phoneNumber: value => {
                    const pattern = /^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/;
                    return pattern.test(value) || 'Numero de celular inválido.';
                },
                onlyNumbers: value => {
                    const pattern = /^(\(?\+?[0-9]*\)?)?[0-9_\- \(\)]*$/;
                    return pattern.test(value) || 'Debe contener solo números.';
                },
                ciclo: value => {
                    const pattern = /\d{2,4}[^I]\s?[I,1,2]{1,2}$/;
                    return pattern.test(value) || 'Formato incorrecto.';
                },
                imageSize:  value => !value|| value.size < 400000 || 'El tamaño de la foto tiene que ser menor a 400 KB!'

            },
            innerDialog:'',
            documentoIdentidad: '',
            codigoUniversitario: '',
            especialidad: 'I1' +
                '',
            egresado:false,
            facultad:'I',
        }),
        methods:{
            updateProp(propName,value){
                this.$emit('update:'+propName, value)
            },
            ...mapActions("university",{
                getFacultades:"getFacultades",getEspecialidades:"getEspecialidades"
            }),
            ...mapActions("auth",{
                currentUser:"currentUser"
            }),
            ...mapActions({
                setVoter:"setVoter"
            }),
            async save() {
                this.$refs.form.validate()
                try {
                    let data = await this.setVoter(
                        {
                            documentoIdentidad: this.documentoIdentidad,
                            codigoUniversitario: this.codigoUniversitario,
                            idEspecialidad: this.especialidad,
                            egresado: this.egresado,
                        }
                    )
                    this.currentUser()
                    this.$router.go()
                } catch (e) {
                    console.log(e)

                }
            },
            close(){
                this.innerDialog=false;
                this.$router.push("/")
            }
        },
        mounted() {
            this.getFacultades();
            this.getEspecialidades(this.facultad);
            this.innerDialog=this.dialog;
        },
        watch:{
            innerDialog(value){
                this.updateProp('dialog',value)
            },
            dialog(value){
                if(this.innerDialog!=value)
                    this.innerDialog=value
            }
        }
    }
</script>

<style scoped>

</style>
