<template>
    <v-row
            align="center"
            justify="center"
    >
        <v-col
                cols="12"
                sm="8"
                md="4"
        >
            <v-card>


                <v-card-title>
                    <p class="display-1 text--primary">
                        Iniciar Sesión
                    </p>
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                    <LoginForm>

                    </LoginForm>
                </v-card-text>
            </v-card>

        </v-col>
    </v-row>
</template>
<script>
    import LoginForm from "./LoginForm"

    export default {
        name: 'CardLogin',
        components: {LoginForm}
    }
</script>
